
@model CMPSAdvisingDB.Student

@{
    Layout = "";
}
@Styles.Render("~/Content/css")




    Advsing Sheet For:<br />
<b>
    @Model.FirstName @Model.LastName</b>
    <br />
    @Model.WNumber
    <br />
    Concentration: @Model.Concentration.Name

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Math Courses
                    </h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Number</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>

                            </tr>
                        </thead>
                        @{var mathCourses = ViewData["mathCourses"];}
                        @foreach (Course c in mathCourses as List<Course>)
                        {
                            <tr>
                                <td>@c.BaseCourse.Name</td>
                                <td>@c.BaseCourse.CourseNumber</td>
                                <td>@c.BaseCourse.CreditHours</td>
                                <td>@c.toLetter((int)c.Grade)</td>
                                <td>@c.Semester</td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        English Courses
                    </h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Number</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>
                                
                            </tr>
                        </thead>
                        @{var englishCourses = ViewData["englishCourses"];}
                        @foreach (Course c in englishCourses as List<Course>)
                        {
                            <tr>
                                <td>@c.BaseCourse.Name</td>
                                <td>@c.BaseCourse.CourseNumber</td>
                                <td>@c.BaseCourse.CreditHours</td>
                                <td>@c.toLetter((int)c.Grade)</td>
                                <td>@c.Semester</td>
                                
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading clickable">
                    <h3 class="panel-title">
                        Natural Sciences
                    </h3>
                    <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Number</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>
                                
                            </tr>
                        </thead>
                        @{var sciCourses = ViewData["scienceCourses"];}
                        @foreach (Course c in sciCourses as List<Course>)
                        {
                            <tr>
                                <td>@c.BaseCourse.Name</td>
                                <td>@c.BaseCourse.CourseNumber</td>
                                <td>@c.BaseCourse.CreditHours</td>
                                <td>@c.toLetter((int)c.Grade)</td>
                                <td>@c.Semester</td>
                                
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading clickable">
                    <h3 class="panel-title">
                        Computer Science
                    </h3>
                    <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Number</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>

                            </tr>
                        </thead>
                        @{var cmpsCourses = ViewData["cmpsCourses"];}
                        @foreach (Course c in cmpsCourses as List<Course>)
                        {
                            <tr>
                                <td>@c.BaseCourse.Name</td>
                                <td>@c.BaseCourse.CourseNumber</td>
                                <td>@c.BaseCourse.CreditHours</td>
                                <td>@c.toLetter((int)c.Grade)</td>
                                <td>@c.Semester</td>

                            </tr>
                        }
                    </table>
                </div>
                <d
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Recommended Courses
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Department</th>
                                <th>Course Number</th>
                                <th>Credit Hours</th>
                            </tr>
                        </thead>
                        @foreach (Course c in Model.CoursesRecommended)
                        {
                            <tr>
                                <td>@c.BaseCourse.Name</td>
                                <td>@c.BaseCourse.Department</td>
                                <td>@c.BaseCourse.CourseNumber</td>
                                <td>@c.BaseCourse.CreditHours</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>