@model CMPSAdvisingDB.BaseCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BaseCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditHours)
        </dd>

    </dl>
</div>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Prerequisites</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var preReq in Model.Prerequisites)
            {
                <tr>
                    <td>@preReq.PrereqName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-success" href="@Url.Action("AddPreReq", new { id=Model.ID })">Add PreReq</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-danger" href="@Url.Action("ResetPreReqs", new { id=Model.ID })">Reset PreReqs</a>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
